.cabecalho{
    background-color: rgb(255, 57, 57);
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

.corpo{
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 

}
  
.corpo1{
    background-color: rgb(255, 57, 57);
    text-align:
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 

}
  
  .corpo2{
    width: 700px;
  }
  
  .box{

    float: left;
    width: 400px;
  }

